<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static "/bootstrap-3.3.4/dist/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "/Flat-UI-master/dist/css/flat-ui.min.css" %}"/>
    <script src="{% static "/bootstrap-3.3.4/dist/js/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "/bootstrap-3.3.4/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "/Flat-UI-master/dist/js/flat-ui.min.js" %}"></script>
    <title></title>
</head>
<body>
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">这什么东西</span>
            </button>
            <a class="navbar-brand" href="Index.html">图书商城</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% block index %}{% endblock %}><a href="/">首页</a></li>
                <li {% block order %}{% endblock %}><a href="/order">我的订单</a></li>
                <li {% block userinfo %}{% endblock %}><a href="/userinfo">个人中心</a></li>
                <li {% block lianjie %}{% endblock %}><a href="/">友情链接</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-sm">
                <li {% block login %}{% endblock %}><a href="/login">登录</a></li>
                <li {% block register %}{% endblock %}><a href="/register">注册</a></li>
                <li {% block cart %}{% endblock %}>
                    <a href="/cart"><span class="glyphicon glyphicon-shopping-cart">购物车</span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

{% block content %}
<div> 模板默认内容 </div>
{% endblock %}


<!--footer-->
<div class="navbar navbar-default navbar-static-bottom">
版权声明区
</div>
</body>
</html>