{% extends 'base.html' %}

{% block index %}class="active"{% endblock %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>面向京东的电子商务推荐系统</h1>
        <p>本系统由电子科技大学开发设计，所有数据均来自京东商城。</p>
        <p><a class="btn btn-primary btn-lg"  id="shuaxin" role="button">换一批</a></p>
        <input type="hidden" id="page" value="{{ page }}"/>
    </div>


        {% for book in books %}
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail" >
                <a href="/bookinfo/{{book.id}}">
                    <img style="width: 100%; height: 200px; display: bloc" alt="100%x200" src={{book.img}} >
                </a>
                <div class="caption center ">
                    <p style="font-size:12px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;;max-height:20px;" title={{book.title}}>{{book.title}}</p>
                    <p><span>价格:</span><span>{{book.price}}</span></p>
                    <p><a class="btn btn-primary btn-block" role="button" href="/bookinfo/{{book.id}}">查看详情</a></p>
                </div>
            </div>
        </div>
        {% endfor %}

        <script>
      $('#shuaxin').click(function(){
          var page = $('#page').val();
          var data = {};
          data.page = page;
          $.ajax({
            url:"/index_change/",
            dataType:"text",
            data : data,
            type : 'post',
            success:function(dataBack){
                $("body").html(dataBack);
            },
            error:function(xhr){
                debugger;
            }
           });
      })
      $(function(){
            $('#myTabs a').click(function (e) {

                $(this).tab('show')
            });
        })
    </script>

</div>
    </div>
{% endblock %}