{% extends 'base.html' %}

{% block order %}class="active"{% endblock %}

{% block content %}
<div class="container">
    <div class="row thumbnail center">
        <div class="col-sm-12">
            <h1 class="text-center" style="margin-bottom: 30px">我的书单</h1>
        </div>
        <div class="col-sm-12 thumbnail">
            <div class="col-sm-3 line-center">订单编号</div>
            <div class="col-sm-2 line-center">图书名称</div>
            <div class="col-sm-2 line-center">图书数量</div>
            <div class="col-sm-2 line-center">图书价格</div>
            <div class="col-sm-3 line-center">操作</div>
        </div>
        <div class="list-group">
            {% for order in orders %}
             <div class="col-sm-12  list-group-item" >
                <div class="col-sm-3 line-center" onclick="myClick(4)">{{order.id}}</div>
                <div class="col-sm-2 line-center">{{order.jd_goods.title}} </div>
                <div class="col-sm-2 line-center">1 </div>
                <div class="col-sm-2 line-center">{{order.jd_goods.price}}</div>
                <div class="col-sm-3 line-center">
                    <a class="btn btn-primary btn-block" role="button" href={{order.jd_goods.url}}>提交书单</a>
                    <a class="btn btn-default btn-block" role="button" href="/order_delete/{{order.id}}">删除书单</a>
                </div>
             </div>
            {% endfor %}
        </div>
    </div>
</div>
       <style>
        .row{
            margin-left: 20px;
            margin-right: 20px;;
        }
        .line-center{
            line-height:50px;
            text-align: center;
        }
        .row input{
            width: 50px;
        }
        .list-group-item:hover{
            background: #27ae60;

        }
        .list-group-item div:first-child:hover{

            cursor: pointer;
        }
    </style>
    <script>
        function myClick(n){
           location.href = "OrderInfo.html";
        }
        function btnClick(){
            alert("btn");
            return false;
        }
        $(function(){

        })
    </script>
{% endblock %}